{% extends "@templates/_layout.twig" %}

{% block content %}
  {% include "@organisms/content/content.twig" %}
  {% include "@molecules/heroes/hero.twig" %}
  <section>
    {% include "@molecules/components/content-modules/intro-section/intro_section.twig" %}
  </section>
  {% include "@organisms/sections/section-work.twig" %}
  {% include "@molecules/components/content-modules/pull-quote/pull-quote.twig" %}
  <section>
    {% include "@molecules/components/content-modules/cta/cta.twig" %}
  </section>
{% endblock %}

{% block sections_after %}
  {% include "@organisms/sections/page-sections.twig" %}
{% endblock %}

  