.o-eyebrow {
  display: inline-block;
  color: $c-green;
  font-family: $font-secondary;
  font-size: $font-size-xs;
  font-weight: bold;
  margin-top: $space-half;
  text-transform: uppercase;

  &--white {
    color: $c-white;
    display: inline-block;
    font-family: $font-secondary;
    font-size: $font-size-xs;
    font-weight: bold;
    margin-top: $space-half;
    text-transform: uppercase;
  }
}

