{% set section_employees_base_class = section_employees.base_class|default('c-section-employees') %}

<section class="{{ bem_classes(section_employees_base_class, section_employees.element, section_employees.modifiers, section_employees.extra ) }}">
  <p>Section content coming soon.</p>
</section>