{% set section_work_base_class = section_work.base_class|default('c-section-work') %}

<section class="c-section-work l-container">
  <div class="c-posts">
    <div class="c-section-heading u-align-center">
      <h1 class="o-eyebrow"> my work</h1>
      <h2 id="menu-work"><a href="#menu-work">Some of my most proud work</a></h1>
    </div>
    <div class="u-padding--double--top u-padding--triple--bottom" bp="grid 6@md l-grid--2up">
      {% for post in work_posts %}
        <div class="l-grid-item">
          {% 
            include '@molecules/blocks/block-work.twig' with {
              "block_image": post.thumbnail.src('large'),
              "block_image_alt": post.thumbnail ? post.thumbnail.alt,
              "block_title": post.title,
              "block_link": post.link,
              "block_preview": post.preview,
              "block_categories": post.categories
            }
          %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>