/*
 * General Variables
 * Note: colors should go into
 * patterns/00-base/01-colors/_color-vars.css
 * and breakpoint related vars into
 * patterns/00-base/base/_breakpoints.css
*/

/**
 * Guardian Egyptian
 */
@font-face {
  font-family: 'Guardian Egyptian Web';
  src: url("../00-base/fonts/GuardianEgyp-Regular-Web.woff") format("woff"), url("../00-base/fonts/GuardianEgyp-Regular-Web.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Guardian Egyptian Web';
  src: url("../00-base/fonts/GuardianEgyp-Semibold-Web.woff") format("woff"), url("../00-base/fonts/GuardianEgyp-Semibold-Web.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/**
 * Zennat Pro One - Used on the "Naked and Afraid" flex layout feature.
 */
@font-face {
  font-family: 'Rubik', sans-serif;
  src: url("../00-base/fonts/Rubik-Regular.ttf") format("ttf"), url("../00-base/fonts/Rubik-Regular.ttf") format("ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
}

// Fonts
$font-primary: "Rubik", Georgia, sans-serif;
$font-secondary: "Rubik", Arial, Helvetica, Geneva, sans-serif;
$font-tertiary: "Rubik", Georgia, sans-serif;
$font-body: $font-primary;

/**
 * Native Custom Properties
 */
:root {
  --body-font-size: 17px;
  --font-size-xs: 12px;
  --font-size-s: 15px;
  --font-size-m: 18px;
  --font-size-l: 24px;
  --font-size-xl: 32px;
  --font-size-xxl: 40px;
  --font-size-xxxl: 50px;
}

// Large Breakpoint
@media screen and (min-width: 720px) {
  :root {
    --font-size-m: 18px;
    --font-size-l: 24px;
    --font-size-xl: 40px;
    --font-size-xxl: 50px;
    --font-size-xxxl: 70px;
  }
}

// XLarge Breakpoint
@media screen and (min-width: 960px) {
  :root {
    --font-size-m: 20px;
    --font-size-l: 28px;
    --font-size-xl: 42px;
    --font-size-xxl: 55px;
    --font-size-xxxl: 90px;
  }
}

/**
 * Font Sizes
 */
$body-font-size: var(--body-font-size, 17px);
$font-size-xs: var(--font-size-xs, 12px);
$font-size-s: var(--font-size-s, 15px);
$font-size-m: var(--font-size-m, 20px);
$font-size-l: var(--font-size-l, 28px);
$font-size-xl: var(--font-size-xl, 42px);
$font-size-xxl: var(--font-size-xxl, 55px);
$font-size-xxxl: var(--font-size-xxxl, 90px);

$letter-spacing-1: 1px;
$letter-spacing-2: 2px;
$letter-spacing-3: 3px;

$line-height: 1.6;
$line-height-s: 1.4;

// Grid
$grid-columns: 12;
$gutter: 20px;

// Spacing
$space: 40px;

// Spacing - Times
$space-and-half: $space * 1.5;
$space-double: $space * 2;
$space-triple: $space * 3;
$space-quadruple: $space * 4;
$space-quintuple: $space * 5;
$space-sextuple: $space * 6;
$space-septuple: $space * 7;

// Spacing - Divided
$space-three-fourth: $space * 0.75;
$space-one-half: $space / 2;
$space-half: $space-one-half;
$space-one-third: $space / 3;
$space-third: $space-one-third;
$space-one-fourth: $space / 4;
$space-fourth: $space-one-fourth;
$space-one-fifth: $space / 5;
$space-one-sixth: $space / 6;
$space-one-seventh: $space / 7;
$space-one-eighth: $space / 8;

// Common Breakpoints
$xsmall: 320px;
$small: 500px;
$medium: 720px;
$large: 960px;
$xlarge: 1220px;
$xxlarge: 1440px;

$breakpoints: ("xsmall": $xsmall, "small": $small, "medium": $medium, "large": $large, "xlarge": $xlarge, "xxlarge": $xxlarge);

// Max Width
$max-width: $xlarge;
$max-width-m: $medium;
$max-width-l: $large;
$max-width-xl: $xlarge;
$max-width-xxl: $xxlarge;

/**
 * Icons
 */
$icon-xsmall: 15px;
$icon-small: 20px;
$icon-medium: 25px;
$icon-large: 30px;
$icon-xlarge: 50px;
$icon-xxlarge: 75px;

/**
 * Border/Shadow Styles
 */
$border-radius-curve: 2px;
$border-radius-curve--hard: 4px;
$border--standard: 1px solid $c-gray;
$border--standard-light: 1px solid $c-gray--light;
$border--standard-lightest: 1px solid $c-gray--lightest;
$border--dotted: 1px dashed $c-gray;
$border--thick: 6px solid $c-warning;
$box-shadow--small: 0 0 5px rgba($c-black, 0.08);
$box-shadow--standard: 0px 13px 40px rgba($c-black, 0.3);
$box-shadow--thick: 0px 8px 24px rgba($c-black, 0.6);
$outline: 3px solid $c-primary;

/**
 * Transitions
 */
$transition-effect: cubic-bezier(0.86, 0, 0.07, 1);
$transition-all: all 0.25s $transition-effect;
$ease-in-hard: cubic-bezier(0.86, 0, 0.07, 1);
$ease-out-hard: cubic-bezier(0.4, 0.05, 0.55, 0.75);


/**
 * Z Index
 */
$z-index-vanish: -1;
$z-index-none: 0;
$z-index-1: 100;
$z-index-2: 200;
$z-index-5: 500;
$z-index-10: 1000;
$z-index-15: 1500;
$z-index-30: 3000;
$z-index-50: 5000;
$z-index-75: 7500;
$z-index-100: 10000;

$z-index-mq-display: $z-index-100;
$z-index-menu-toggle: $z-index-100;
$z-index-back-to-top: $z-index-100;

/*
 * Use this on the outer wrapper of page-level elements.
 * It ensures consistent spacing between elements on the page.
 */
@mixin space-stack-page {
  margin-bottom: $space-double;
}

/*
 * Theme variables
 */
$header-height: 45px;
$header-utility-height: 40px;
$footer-artwork-height: 60px;
