.c-footer-nav {
  column-count: 2;
  column-gap: $space-double;
  margin: (-$space-one-fourth) 0;

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__link {
    color: $c-gray;
    font-family: $font-secondary;
    font-size: $font-size-s;
    line-height: 1.2;
    transition: $transition-all;
    padding: $space-one-fourth 0;
    text-align: left;
    display: block;
    box-shadow: none;

    &:hover,
    &focus {
      color: $c-black;
      box-shadow: none;
    }
  }
}
