.c-footer {
  background-color: $c-white;
  position: relative;
  z-index: 99;

  h3 {
    margin: 0 0 $space-fourth 0;
  }

  p {
    @include body-copy;

    font-size: 14px;
    line-height: $line-height;
  }

  &--inner {
    margin: 0 auto;

    .o-logo {
      max-width: 250px;
      width: 100%;
      height: auto;
      padding-right: $space;
      position: relative;
      z-index: 2;
    }
  }

  &__social {
    h3 {
      width: 100%;
    }

    @include media(">medium") {
      padding-top: $space;
    }
  }

  &-email {
    color: $c-red;
  }

  &__copyright {
    display: flex;
    align-items: center;
    position: relative;

    .o-copyright {
      position: relative;
      z-index: 2;
    }

    &::after {
      content: "";
      display: block;
      width: 100vw;
      height: 1px;
      background-color: $c-red;
      position: absolute;
      top: 0;
      bottom: auto;
      left: -50vw;
      right: -50vw;
      margin: auto;
      z-index: 0;

      @include media(">medium") {
        bottom: 0;
      }
    }
  }
}
