.c-header-nav {
  display: flex;
  flex-direction: column;
  z-index: 999;
  background-color: $c-yellow;
  height: 100vh;
  width: 80vw;
  position: fixed;
  top: 0;
  right: -400px;
  max-width: 400px;
  transition: right 0.25s $transition-effect;

  @include media(">large") {
    right: 0;
    position: relative;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: auto;
    max-width: 100%;
    background-color: transparent;
  }


  &__list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    @include media(">large") {
      flex-direction: row;
      height: 100%;
    }
  }

  &__item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 0 $space-double;

    @include media(">large") {
      padding: 0 $space-half;
    }
  }

  &__link {
    @include o-heading__secondary--xs;

    letter-spacing: 1px;
    color: $c-black;
    padding: $space 0;
    transition: $transition-all;
    border-bottom: 1px solid darken($c-yellow, 5%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    box-shadow: none;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 0;
      background-color: $c-yellow;
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      transition: $transition-all;
    }

    @include media(">large") {
      padding: 0;
      justify-content: center;
      text-align: center;
      width: auto;
      border: 0;

      &:hover,
      &:focus,
      &.is-active {
        box-shadow: none;
        color: $c-red;

        &::after {
          opacity: 1;
          visibility: visible;
          height: 3px;
        }
      }
    }


    &.is-active {
      color: $c-red;
    }
  }

  &__icon-close {
    display: flex;
    justify-content: flex-start;
    padding: $space $space-double;
    width: 100%;
    background-color: transparent;
    color: $c-black;

    &:hover,
    &:focus {
      background-color: transparent;
      color: $c-red;
    }

    @include media(">large") {
      display: none;
    }
  }

  &.is-active {
    right: 0;
  }
}

body.menu-is-active {
  overflow: hidden;

  .c-header::before {
    opacity: 1;
    visibility: visible;
    z-index: 998;

    @include media(">large") {
      opacity: 0;
      visibility: hidden;
      z-index: 0;
    }
  }

  .c-header-nav {
    right: 0;
  }
}
