{% set header_nav_base_class = header_nav.base_class|default('c-header-nav') %}

{% if primary_nav.name == "Primary Navigation" %}
  <nav role="navigation" class="{{ bem_classes(header_nav_base_class, header_nav.element, header_nav.modifiers, header_nav.extra) }}">
    <div class="c-nav-container">
      <div id="menu-cirlce" class="c-hamburger"></div>
      <button id="open-nav" class="c-icon-hamburger" role="button" aria-pressed="false" aria-label="Open Navigation" onclick="openNav()">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    {% if primary_nav.items %}
      <div id="mySideNav" class="c-side-nav">
        <a href="javascript:void(0)" class="c-button__close" onclick="closeNav()">{% include "@atoms/buttons/button.twig" with {
            "button": {
              "extra": [
                bem_classes(header_nav_base_class, 'icon-close'),
                "js-toggle"
              ],
              "icon": {
                "name": "close",
                "modifiers": "small"
              },
              "attributes": {
                "aria-label": "Close",
                "data-toggled": "body",
                "data-prefix": "menu"
              }
            }
          } %}
        </a>
        {% include "@atoms/images/image/menu-blob.svg" %}
        <ul class="{{ bem_classes(header_nav_base_class, 'list') }}">
          {% for item in primary_nav.items %}
            <li class="{{ bem_classes(header_nav_base_class, 'item') }}">
              {% include "@atoms/links/link.twig" with {
                "link": {
                  "text": item.title,
                  "url": item.url,
                  "target": item.target,
                  "extra": bem_classes(header_nav_base_class, 'link')
                }
              } %}
            </li>
          {% endfor %}
        </ul>  
      </div>
    {% endif %}
  </nav>
{% endif %}

<script>
  function openNav() {
    document.getElementById("mySideNav").style.width = "80%";
  }

  function closeNav() {
    document.getElementById("mySideNav").style.width = "0%";
  }
</script>
