/*
 * General Layout
*/

$sidebar-width: 300px;
$main-width: calc(100% - (#{$sidebar-width} + #{$space-double}));

/**
 * Wrapping element to keep content contained.
 */
.l-wrap {
  margin: 0 auto;
  padding-left: $space-half;
  padding-right: $space-half;
  width: 100%;
  position: relative;

  @include media(">xxlarge") {
    padding-left: $space-quadruple;
    padding-right: $space-quadruple;
  }

  &-centered {
    margin: 0 auto;
    padding-left: $space;
    padding-right: $space;
    @include align-center;

    @include media(">xxlarge") {
      padding-left: $space-quadruple;
      padding-right: $space-quadruple;
    }
  }
}

/**
 * Layout containers - keep content centered and within a maximum width. Also
 * adjusts left and right padding as the viewport widens.
 */

.l-container {
  padding-top: $space;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: $max-width;

  @include media("<medium") {
    padding: 0 $space-third;
  }

  @include media("<large") {
    max-width: $medium;
  }

  &--m {
    @include align-center;

    max-width: $max-width-m;
  }

  &--l {
    @include align-center;

    max-width: $max-width-l;
  }

  &--xl {
    @include align-center;

    max-width: $max-width-xl;
  }

  &--xxl {
    @include align-center;

    max-width: $max-width-xxl;
  }
}

.l-container--gradient-white {
  padding: $space-double $space;
  background: linear-gradient($c-white, rgba(255, 255, 255, 0));
}

.l-main {
  &.has-sidebar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include media(">medium") {
      flex-wrap: nowrap;
    }


    > *:first-child {
      width: 100%;

      @include media(">medium") {
        width: $main-width;
      }
    }

    > *:last-child {
      width: 100%;
      margin-top: $space-double;

      @include media(">medium") {
        margin-top: 0;
        min-width: $sidebar-width;
        max-width: $sidebar-width;
      }
    }
  }
}
