@mixin o-button($bg-color: $c-red, $color: $c-white, $bg-color-hover: $c-blue, $color-hover: $c-white) {
  @include o-heading__secondary--s;

  letter-spacing: $letter-spacing-1;
  font-weight: 500;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: $bg-color;
  color: $color;
  padding: 14px $space-half;
  transition: $transition-all;

  &:focus,
  &:hover {
    color: $color-hover;
    background-color: $bg-color-hover;
  }

  .o-icon {
    position: relative;
    top: 2px;
  }

  span + span {
    margin-left: $space-half;
  }
}

@mixin o-button--arrow {
  @include o-button($c-red, $c-red--dark);

  letter-spacing: $letter-spacing-1;
  font-weight: 500;
  border: none;
  align-items: left;
  justify-content: left;
  text-decoration: none;
  text-transform: capitalize;
  text-align: left;
  background-color: $c-white;
  padding: 0;
  transition: $transition-all;

  &:focus,
  &:hover {
    color: $c-red;
    background-color: $c-white;
  }

  svg {
    margin-left: $space-half;
  }
}

@mixin o-button--alt {
  @include o-button($c-white, $c-black, $c-white, $c-red);

  padding: $space-one-third;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: $letter-spacing-1;
  border: 2px solid $c-black !important;

  &:focus,
  &:hover {
    background-color: $c-black;
    color: $c-white;
  }
}

@mixin o-button--small {
  @include o-button($c-black, $c-white, $c-red, $c-white);

  padding: $space-one-half $space;
}

.o-button {
  @include o-button;

  &--alt {
    @include o-button--alt;
  }

  &--small {
    @include o-button--small;
  }

  &--arrow {
    @include o-button--arrow;
  }
}
