/* ------------------------------------ *\
    $HERO STYLES
\* ------------------------------------ */

.c-hero {
  position: relative;
  top: 0;
  left: 0;
  min-height: 25vh;
  width: 100%;
  color: $c-white;

  &-title {
    position: relative;
    color: $c-white;
    line-height: 100px;
    top: -600;
    width: 50%;
    font-size: $font-size-xxxl;
  }
}
