/* ------------------------------------ *\
    $HERO STYLES
\* ------------------------------------ */

.c-hero {
  position: relative;
  top: 0;
  left: 0;
  min-height: 30vh;
  width: 100%;
  color: $c-white;

  @include media("<medium") {
    text-align: center;
  }

  &-title {
    position: absolute;
    color: $c-white;
    line-height: 100px;
    top: -600;
    width: 70%;
    font-size: $font-size-xxxl;

    @include media("<medium") {
      font-weight: 700;
      line-height: 1.05;
      width: 100%;
    }
  }
}
