<section class="c-hero">
  <div class="c-hero-headline">
    {% include "@atoms/images/image/hero-left.twig" %}
    <h1 class="c-hero-title">I'd Love to work with you all at Glantz!</h1>
  </div>
</section>
