{% extends "@templates/_layout.twig" %}

{% block content %}
  {% include "@molecules/navigation/breadcrumbs/breadcrumbs.twig" with {
    "yoast_breadcrumbs": function('yoast_breadcrumb', '<nav class="c-breadcrumbs">','</nav>', false )
  } %}
  {% include "@organisms/content/content.twig" %}
{% endblock %}

