{#
# Work Single Template
# ---------------
#
#}

{# ----- Extends & Embeds ----- #}
{% extends "@templates/_layout.twig" %}

{# ----- Prepare Data ----- #}
{% set website = post.meta('company_url') %}
{% set founder_details = post.meta('founder_details') %}
{% set founder_year = founder_details.founding_year %}
{% set site_intro = post.meta('full_bleed') %}

{# ----- Build Data ----- #}

{% block content %}

<article class="l-article l-article--{{ post.post_type }} l-container c-work">
  <div class="c-work__hero u-background-color--white">
    <div class="c-work__hero--content">
      {% include "@molecules/components/content-modules/intro-section/intro_section.twig" %}
    </div>
    <div>
      {% include "@molecules/components/content-modules/slider/slider.twig" %}
    </div>
    <div>
      {% include "@molecules/components/content-modules/full-bleed/full-bleed.twig" %}
    </div>
    <section>
      {% include "@organisms/sections/related-work.twig" %}
    </section>
  </div>
</article>

{% endblock %}