{% set social_links_base_class = social_links.base_class|default('c-social-links') %}

{% set social_links = options.social_links %}

<div class="{{ bem_classes(social_links_base_class) }}">
  {% for link in social_links %}
    {% if link.link_url %}
      {% include "@atoms/links/link.twig" with {
        "link": {
          "url": link.link_url,
          "target": "_blank",
          "extra": [
            bem_classes(social_links_base_class, 'item', link.name)
          ],
          "icon": {
            "name": link.link_name,
            "modifiers": [
              "xsmall"
            ]
          },
          "attributes": {
            "aria-label": link.link_name|capitalize
          }
        }
      } %}
    {% endif %}
  {% endfor %}
</div>